
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-heading">
        <h2>Sign Up</h2>
      </div>
      <div class="panel-body">
        <%= form_for(@user, url: signup_path, multipart: true) do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :user_name %>
            <%= f.text_field :uname, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :description, 'Introduce yourself' %>
            <%= f.text_area :description, class: 'form-control' %>

            <%= f.label :date_of_birth %>
            <%= f.date_select :dob, {:start_year => 1900, :end_year => Date.today.year}, {class: "form-control"} %>

            <%= f.label :sex %><br>
            <%= f.select_tag :sex, options_for_select([ "Male", "Female" ], "Male"), class: 'form-control', name: 'user[sex]' %>\
            <br>
            <%= f.label :country %>
            <%= f.text_field :country, class: 'form-control' %>

            <%= f.label :state %>
            <%= f.text_field :state, class: 'form-control' %>

            <%= f.label :city %>
            <%= f.text_field :city, class: 'form-control' %>

            <%= f.label :mobile %>
            <%= f.text_field :mobile, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.label :display_picture %>
            <%= f.file_field :dp, accept: 'image/jpeg,image/gif,image/png' %>

            <%= f.submit "Create my account", class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', users_path %>
